.ipynb_checkpoints/dataframe_load_save-checkpoint.ipynb
.ipynb_checkpoints/pandas-checkpoint.ipynb
.ipynb_checkpoints/processing_skill-checkpoint.ipynb
.ipynb_checkpoints/swifter-checkpoint.ipynb
__pycache__/
pandas/.ipynb_checkpoints/